
.mainImg{
  position:absolute;
  display: block;
  margin:auto;
  height: auto;
  max-width: 100%;
 }
 
 .container .text-muted {
  margin: auto;
  text-align:center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.background{
 padding-top: 30px;
 padding-bottom: 30px;
 padding-left: 30px;
 padding-right: 30px;
 margin-bottom: 30px;
 background-color: #eee;
}
.container{
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}
.video{
 padding-top: 20px;
 padding-bottom: 20px;
  text-align: center;
}


